h1 {
  text-align: center;
  display: block;
}
body {
  background-color: orange;
}
img {
  
}
.text {
  display: block;
  margin: auto;
  text-align: center;
  background-color: gray;
  color: orange;
  border: 1px solid black;
  width: 40%;
  padding: 20px;
}
